.footer__container {
    background: #0A0A0A;
    /* background: linear-gradient(90deg, rgba(0, 255, 158, 1) 0%, rgba(196, 0, 255, 1) 100%); */
    width: 100%;
    display: flex;
    padding: 150px 0 0 0;
    position: relative;
    flex-direction: column;
    margin-top: 200px;
}

.buy__today__container {
    background: linear-gradient(to right, #783dcc, #6e42d1, #6147d6, #534cdb, #4150df, #335ae4, #2163e8, #006bec, #007af1, #0088f4, #1e95f5, #39a2f6);
    position: absolute;
    height: 120px;
    width: 80%;
    background-color: #666bff;
    border-radius: 10px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.buy__container__left__contents {
    display: flex;
    width: 60%;
    column-gap: 30px;
}

.left__check {
    display: flex;
    align-items: center;
    font-weight: lighter;
    font-size: 12px;
    column-gap: 5px;
    margin-top: 5px;
    flex-wrap: nowrap;
}

.buy__container__right__contents {
    display: flex;
    width: 40%;
    justify-content: flex-end;
    column-gap: 40px;
}

.buy__container__right__contents button {
    border: 2px solid whitesmoke;
    padding: 8px 15px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 14px;
    transition: .2s;
}

.buy__container__right__contents button:hover {
    transform: scale(1.1);
}

.buy__container__right__contents button:active {
    transform: scale(1);
}

.logo__content__container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.branding__module {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 30px;
}

.brand {
    font-size: 20px;
    font-weight: 500;
    background-image: linear-gradient(to left, #fa00ff, #cd46ff, #9d5dff, #666bff, #0072ff);
    background-clip: text;
    color: transparent;
    cursor: pointer;

}

.brand:hover {
    opacity: .7;
    transition: all .2s ease-in-out;
}

.content__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.single__footer__item ul>li {
    color: aliceblue;
    display: grid;
    font-size: 14px;
    flex-direction: column;
    margin-top: 8px;
    cursor: pointer;
}

.single__footer__item ul>li:hover {
    background-image: linear-gradient(to left, #fa00ff, #cd46ff, #9d5dff, #666bff, #0072ff);
    /* background: linear-gradient(90deg, rgba(0, 255, 158, 1) 0%, rgba(196, 0, 255, 1) 100%); */
    background-clip: text;
    color: transparent;
}

.footer__content__heading {
    font-size: 16px;
    margin-bottom: 20px;
    color: gray;
    text-transform: uppercase;
    letter-spacing: .3ch;

}

.footer__last__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    margin-top: 30px;
    border-top: 1px solid #0072ff;
}

.footer__last__container__first {
    width: 20%;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
}

.location__btn {
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 10px 20px;
    border-radius: 8px;

    border: solid 1px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
        linear-gradient(to right top, #fa00ff, #cd46ff, #9d5dff, #666bff, #0072ff);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #0A0A0A inset;
    transition: .2s;
}

.location__btn:hover {
    box-shadow: none;
}

.location__btn:active {
    box-shadow: 2px 1000px 1px #0A0A0A inset;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .footer__container {
        padding: 100px 0 0 0;
    }

    .buy__today__container {
        height: 120px;
        flex-direction: column;
        row-gap: 20px;
        justify-content: space-between;
        padding: 10px 20px;
    }

    .buy__container__left__contents {
        display: flex;
        width: 100%;
        justify-content: space-between;
        font-size: 15px;

    }

    .left__check {
        font-size: 10px;
        column-gap: 5px;
        margin-top: 0;
    }

    .buy__container__right__contents {
        width: 100%;
        justify-content: center;
        column-gap: 40px;

    }

    .buy__container__right__contents button {
        font-size: 10px;
    }


    .content__container {
        display: grid;
        width: 100%;
        justify-content: space-between;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
    }

    .single__footer__item ul>li {
        margin-top: 5px;
    }

    .footer__last__container__first {
        width: 50%;
        font-size: 15px;
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .location__btn {
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 12px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width:601px) and (max-width: 768px) {
    .buy__today__container {
        height: 120px;
        flex-direction: column;
        row-gap: 20px;
        justify-content: space-between;
        padding: 10px 20px;
    }

    .buy__container__left__contents {
        display: flex;
        width: 80%;
        justify-content: space-between;
        font-size: 15px;

    }

    .left__check {
        font-size: 10px;
        column-gap: 5px;
        margin-top: 0;
    }

    .buy__container__right__contents {
        width: 100%;
        justify-content: center;
        column-gap: 40px;

    }

    .buy__container__right__contents button {
        font-size: 10px;
    }

    .content__container {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
        column-gap: 70px
    }

    .single__footer__item ul>li {
        margin-top: 5px;
    }

    .footer__last__container__first {
        width: 50%;
        font-size: 15px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
    .buy__today__container {
        height: 100px;
        justify-content: space-between;
        padding: 10px 20px;
    }

    .buy__container__left__contents {
        display: flex;
        width: 60%;
        justify-content: space-between;
        font-size: 15px;

    }

    .left__check {
        font-size: 10px;
        column-gap: 5px;
        margin-top: 0;
    }

    .buy__container__right__contents {
        width: 35%;
        justify-content: center;
        column-gap: 40px;

    }

    .buy__container__right__contents button {
        font-size: 10px;
    }

    .content__container {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(5, 1fr);
        row-gap: 20px;
        column-gap: 50px
    }

    .single__footer__item ul>li {
        margin-top: 5px;
    }

    .footer__last__container__first {
        width: 30%;
        font-size: 15px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .footer__last__container__first {
        width: 30%;
        font-size: 15px;
    }
}