.hero__container {
    width: 100%;
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;
}

.text__wrapper {
    width: 40%;
    font-size: 75px;
    font-weight: lighter;
    text-align: left;
}

.cool__text {
    font-weight: 600;
    background-image: linear-gradient(to left, #fa00ff, #cd46ff, #9d5dff, #666bff, #0072ff);
    /* background: linear-gradient(90deg, rgba(0, 255, 158, 1) 0%, rgba(196, 0, 255, 1) 100%); */
    background-clip: text;
    color: transparent;
}

.slide__wrapper {
    width: 60%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    z-index: 0;
    /* background-image: url('../../public/assets/1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; */
}

.image__container {
    width: 60%;
    height: 100%;
    position: relative;

    .image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.pentagon {
    height: 450px;
    width: 450px;
    background-image: url('../public/assets/pantagon.png');
    background-size: contain;
    opacity: .4;
    background-position: center center;
    background-repeat: no-repeat;
    right: -100px;
    top: 0;
    position: absolute;
    z-index: -1;
    animation: myAnim 25s linear 0s infinite normal none;
    transform-origin: center;
}

@keyframes myAnim {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .hero__container {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .text__wrapper {
        width: 100%;
        font-size: 45px;
        margin-top: 20px;
        text-align: center;
    }

    .slide__wrapper {
        width: 100%;
        height: 300px;
    }

    .pentagon {
        height: 280px;
        width: 280px;
        right: -100px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width:601px) and (max-width: 768px) {
    .hero__container {
        width: 100%;
        margin-top: 20px 0;
    }

    .text__wrapper {
        width: 50%;
        font-size: 35px;
        text-align: left;
    }

    .slide__wrapper {
        width: 50%;
        height: 300px;
    }

    .image__container {
        width: 70%;
    }

    .pentagon {
        height: 200px;
        width: 200px;
        right: -100px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 769px) and (max-width: 992px) {

    .text__wrapper {
        width: 40%;
        font-size: 45px;
        text-align: left;
    }

    .slide__wrapper {
        width: 60%;
        height: 400px;
    }

    .pentagon {
        height: 320px;
        width: 320px;
        left: -80px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 993px) {}