.hotDeal__contianer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.product__container {
    width: 55%;
    display: flex;
    flex-direction: column;
    /* display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-column-gap: 6px;
        grid-row-gap: 6px; */
}

.dashed__underline {
    background: linear-gradient(white, white) padding-box,
        linear-gradient(to right, #fa00ff, #cd46ff, #9d5dff, #666bff, #0072ff) border-box;
    border-radius: 50em;
    border-bottom: 2px solid transparent;
}

.hotDeal__heading h1 {
    font-size: 35px;
    margin-bottom: 5px;
}

.products__wrapper {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* grid-column-gap: 20px;
    grid-row-gap: 20px; */
}

.single__product__container {
    border-radius: 8px;
    padding: 15px;
    cursor: pointer;
    transition: all .3s;
    overflow: hidden;
    position: relative;
}

.product__image {
    width: 100%;
    height: 250px;
    object-fit: contain;
    transition: .3s;
}

.single__product__container:hover {
    /* background-color: #141414; */
    background-image: linear-gradient(to top, #141414, #101010, #0b0b0b, #060606, #000000);

    .product__image {
        transform: scale(1.1);
    }
}

.product__name {
    margin-top: 16px;
    margin-bottom: 40px;
}

.product__details {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: lighter;
    position: absolute;
    bottom: 15px;
}

.discount {
    color: #1f84ff;
    margin-left: 80px;
    font-weight: 500;
}

.text__container {
    font-size: 60px;
    width: 40%;
    padding: 0 30px;
    font-weight: 300;
}

.text__container span {
    font-weight: 500;
    background-image: linear-gradient(to left, #fa00ff, #cd46ff, #9d5dff, #666bff, #0072ff);
    background-clip: text;
    color: transparent;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .hotDeal__contianer {
        display: flex;
        flex-direction: column-reverse;
    }

    .product__container {
        width: 100%;
    }

    .dashed__underline {
        width: 100%;
    }

    .hotDeal__heading h1 {
        font-size: 18px;
    }

    .products__wrapper {
        margin-top: 40px;
    }

    .product__image {
        width: 80%;
        margin: 0 auto 0 auto;
    }

    .product__name {
        font-size: 14px;
        margin-top: 0;
    }

    .text__container {
        font-size: 35px;
        width: 100%;
        margin-bottom: 50px;
    }

    .text__container span {
        font-weight: 500;
        background-image: linear-gradient(to left, #fa00ff, #cd46ff, #9d5dff, #666bff, #0072ff);
        background-clip: text;
        color: transparent;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width:601px) and (max-width: 768px) {
    .product__container {
        width: 60%;
    }

    .products__wrapper {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .text__container {
        width: 40%;
        font-size: 35px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 769px) and (max-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 993px) {}